node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

# IntelliJ
.idea
*.iml

.DS_Store
!corpus/**/*.jar
!corpus/java/classes/foo/bar/AwesomeClass.class
corpus/config_dir/.cache
/.clj-kondo/clj-kondo
/.lsp/.cache
clj-kondo.build_artifacts.txt
/.clj-kondo/rewrite-clj
.clj-kondo/marick
corpus/namespace_config/.clj-kondo/inline-configs
.lock
corpus/.clj-kondo/inline-configs
tmp
.eastwood

# End of https://www.gitignore.io/api/emacs,clojure
/clj-kondo
**/.clj-kondo/.cache
performance.txt
clj-kondo*.snap
.planck_cache

.clj-kondo/.cache/v1/lock
.clj-kondo/.cache/v1/cljs/example.transit.json